module <%= @name.camel_case %>
  module Routes
    autoload :Assets, 'app/routes/assets'
    autoload :Base, 'app/routes/base'
    autoload :Static, 'app/routes/static'

    # Other routes:
    # autoload :Posts, 'app/routes/posts'
  end
end